<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Form</title>
</head>
<body>
    <form action="#" method="POST">
        <div>
            <label for="SID">SID</label>
            <input type="text" name="SID" id="SID">
        </div>
        <div>
            <label for="Last">Last Name</label>
            <input type="text" name="Last" id="Last">
        </div>
        <div>
            <label for="First">First Name</label>
            <input type="text" name="First" id="First">
        </div>
        <div>
            <label for="BirthDate">SID</label>
            <input type="date" name="BirthDate" id="BirthDate">
        </div>
        <div>
            <label for="GPA">GPA</label>
            <input type="text" name="=GPA" id="GPA">
        </div>
        <div>
            <label for="Advisor">Advisor</label>
            <input type="text" name="Advisor" id="Advisor">
        </div>
        <button type="submit" >Submit</button>
    </form>
</body>
</html>